<!DOCTYPE html>
<html>
<head>
	<title>Update DATA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
</head>
<body class="bg-success">
	<form action="{{url_for('editData',register_id=register.id)}}" method="post">
		<div class="container">
			<div class="mt-5"><h2>Enter update data</h2></div><br>
			<div class="form-group col-sm-6">
				<label for="name">Name</label>
				<input type="text" name="name" id="name" class="form-control">
			</div>

			<div class="form-group col-sm-6">
				<label for="surname">Surname</label>
				<input type="text" name="surname" id="surname" class="form-control">
			</div>

			<div class="form-group col-sm-6">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" class="form-control">
				
			</div>

			<div class="form-group col-sm-6">
				<label for="branch">Branch</label>
				<input type="text" name="branch" id="branch" class="form-control">
			</div> 

			<div class="form-group col-sm-6">
				<label for="mobile">Mobile</label>
				<input type="text" name="mobile" id="mobile" class="form-control">
			</div>

			<div class="form-group col-sm-offset-5 col-sm-12">
				<button type="submit" class="btn btn-success">Submit</button>
				<button type="submit" class="btn btn-info"><a href="{{url_for('showData')}}"><font color="white">Back</button>
			</div>
		</div>
	</form>

</body>
</html>